{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
      <title> {{ title }}</title>
    {% else %}
      <title>CNN Chumphon</title>
    {% endif %} 

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
	<meta name="author" content="CNN CMPO" />
	<!--icon fonts-->
	<link rel="icon" href="{% static 'assets/css/iconfont.css' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'assets/css/iconfont.min.css' %}" type="image/x-icon">
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
    <!-- vendor css -->
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

</head>

<body class="">
	<!-- [ Pre-loader ] start -->
	<div class="loader-bg">
		<div class="loader-track">
			<div class="loader-fill"></div>
		</div>
	</div>
	<!-- [ Pre-loader ] End -->
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				
				<div class="container">
					<div class="main-menu-header">
						<img class="img-radius" src="{% static 'assets/images/user/moph.PNG' %}" alt="User-Profile-Image">
						<div class="user-details">
							<div id="more-details">CNN Chumphon <i class="fa fa-caret-down"></i></div>
						</div>
					</div>
					<div class="collapse" id="nav-user-link">
						<ul class="list-unstyled">
							<li class="list-group-item"><a href=" {% url 'profile' %} "><i class="feather icon-user m-r-5"></i>View Profile</a></li>
							<li class="list-group-item"><a href=" {% url 'logout' %} "><i class="feather icon-log-out m-r-5"></i>Logout</a></li>
						</ul>
					</div>
				</div>
				
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
					    <label></label>
					</li>
					<li class="nav-item">
					    <a href="{% url 'home' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">HOME</span></a>
					</li>
					<li class="nav-item">
					    <a href="{% url 'index' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">PERSON</span></a>
					</li>
<!--Login show menu start-->
					{% if user.is_authenticated %}
					<li class="nav-item">
					    <a href="{% url 'profile' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user m-r-5"></i></span><span class="pcoded-mtext">Profile</span></a>
					</li>

					<li>
					    <a href="{% url 'logout' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-log-out m-r-5"></i></span><span class="pcoded-mtext"> Logout</span></a>
					</li>
					{% else %}
					</li>
						<a href="{% url 'login' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-log-in m-r-5"></i></span><span class="pcoded-mtext"> ลงชื่อเข้าสู่ระบบ</span></a>
					</li>
					</li>
						<a href="{% url 'register' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-settings m-r-5"></i></span><span class="pcoded-mtext"> สมัครเข้าใช้งานระบบ</span></a>
					</li>
					{% endif %}
<!--Login show menu end-->
				</ul>

			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
	<!-- [ Header ] start -->
	<header class="navbar pcoded-header navbar-expand-lg navbar-light header-blue">
		
			
				<div class="m-header">
					<a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
					<a href="#!" class="b-brand">
						<!-- ========   change your logo hear   ============ -->
						<img src="{% static 'assets/images/logo.png' %}" alt="" class="logo">
						<img src="{% static 'assets/images/logo-icon.png' %}" alt="" class="logo-thumb">
					</a>
					<a href="#!" class="mob-toggler">
						<i class="feather icon-more-vertical"></i>
					</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a href="#!" class="pop-search"><i class="feather icon-search"></i></a>
							<div class="search-bar">
								<input type="text" class="form-control border-0 shadow-none" placeholder="Search hear">
								<button type="button" class="close" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</li>
					</ul>
					
				</div>
				
			
	</header>
	<!-- [ Header ] end -->

<!-- [ Main Content ] start -->

{% block content %}
    
{% endblock content %}
    
<!-- [ Main Content ] end -->
    <!-- Required Js -->
    <script src="{% static 'assets/js/vendor-all.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/ripple.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>
	<!-- Apex Chart -->
	<script src="{% static 'assets/js/plugins/apexcharts.min.js' %}"></script>
	<!-- custom-chart js -->
	<script src="{% static 'assets/js/pages/dashboard-main.js' %}"></script>
</body>

</html>
