{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10"> ยินดีต้อนรับ</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">HOME</a></li>
                         </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>CNN Chumphon New Normal</h5>
                    </div>
                    <div class="card-body">
                        <h1>This is my Home Page</h1>
                    </div>
                </div>
            </div>
         </div>
        <!-- [ Main Content ] end -->
{% endblock content %}
    
