{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
 <!-- [ Main Content ] start -->
<div class="pcoded-main-container">
	<div class="pcoded-content">
		<!-- [ breadcrumb ] start -->
		<div class="page-header">
			<div class="page-block">
				<div class="row align-items-center">
					<div class="col-md-12">
						<div class="page-header-title">
							<h5 class="m-b-10">...</h5>
						</div>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>

						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- [ breadcrumb ] end -->
		<!-- [ Main Content ] start -->
		<div class="row">
			<!-- [ accordion-collapse ] start -->
			<div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">CNN Chumphon New Normal</h5>
                        <hr>

						<div class="content-section">
							<form method='POST'>
							  {% csrf_token %}
							  <fieldset class="form-group">
								<legend class="border-bottom mb-4">ลงทะเบียนใช้งาน</legend>
								{{ form|crispy }}
							  </fieldset>
							  <div class="form-group">
								<button class="btn btn-info" type="submit">ตกลง</button>
							  </div>
							</form>
							<div class="border-top pt-3">
							  <h5 class="text-muted">
								เคยลงทะเบียนแล้ว <a class="ml-2" href="{% url 'login' %}">เข้าสู่ระบบที่นี่</a>
							  </h5>
							</div>
						  </div>
                        
                    </div>
                </div>
			</div>
			<!-- [ accordion-collapse ] end -->
		</div>
		<!-- [ Main Content ] end -->
	</div>
</div>
<!-- [ Main Content ] end -->
{% endblock content %}